h1{
    text-align: center;
}
.container
{
    width:455px;
    height: 550px;
    background-color: rgb(80, 74, 74);
    margin: auto;
    padding: 10px;
    border-radius: 10px;


}
p{
    color: white;
    font-size: 20px;
    margin-left: 10px;

}
#screen
{
    background-color: white;
    height: 80px;
    width: 440px;
    margin: 5px;
    font-size: 60px;
    text-align: right;
    background-color: rgb(71, 123, 123);
    border-radius: 10px;


}
.button
{
    background-color: rgb(214, 205, 205);
    color: white;
    height: 70px;
    width: 90px;
    font-size: 40px;
    margin: 10px;
    border-radius: 15px;
}
.clear{
    background-color: red;
}
.oper
{
    background-color: rgb(15, 225, 225);
}
.button:hover
{
    border: 5px solid rgb(144, 246, 2);
}
.button:active
{
    opacity: 0.4;
}
